.top-40 {
  position: absolute;
  top: 51rem; /* Adjust the value as needed */
}
.end-0 {
  margin-right: 15px;
}

.table-primary {
  background-color: yellow !important; /* Replace `#yourColorHere` with the color you want */
}

.custom-highlight {
  background-color: transparent !important; /* Replace `#yourColorHere` with the color you want */
}
