.custom-checkbox {
  width: 17px; /* Set your desired width */
  height: 17px; /* Set your desired height */
}
.custom-checkbox2 {
  width: 20px; /* Set your desired width */
  height: 20px; /* Set your desired height */
}
