/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: black !important; /* Set the background color to black */
}

.carousel-control-prev-icon:hover,
.carousel-control-next-icon:hover {
  background-color: black !important;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
